body {
    background-color: #E5D4C0;
    text-align: center;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
}

.column {
    height: 100px;
    width: 100px;
    background-color: #548687;
    border: 2px solid #FFFFFF;
}