body {
    background-color: #E5D4C0;
    text-align: center;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
}

.square {
    height: 175px;
    width: 175px;
    background-color: #548687;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
}

button {
    margin-top: 50px;
}